caption{
    color:#fff;
}

.table thead th a {
    color:#fff;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label,  .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #fff;

}



.datepicker-days{
    color:#000;
}

.select2-container--bootstrap .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: rgba(0,0,0,.15); 
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
    border-color:transparent;
    
    font-size: 14px;
    outline: 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    color: #fff;
    font-weight: 300;
    
}


.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.s2-select-label, .s2-unselect-label {
    line-height: 1.1;
    font-size: 12px;
    color: #000;
}

.select2-container--bootstrap .select2-dropdown {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    
    overflow-x: hidden;
    margin-top: -1px;
    background: #fff
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    color: #000;
    background: #d9d9d9;
}

.select2-results__options{
    color:#000;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #fff;
    padding: 0;
}

.input-group .input-group-addon {
    border-radius: 0;
    border-color: rgba(0,0,0,.15); 
    color:#fff;
    background-color: transparent;
}

.has-success .input-group .input-group-addon {
    color: #a6c733;;
    border-radius: 0;
    background-color: transparent;
    border:1px solid #a6c733 
}

.breadcrumb > li + li:before {
    color: #fff;
    font-family: FontAwesome;
    content: "\f101 ";
    padding: 0 5px;
}

.breadcrumb > li.active {
    color: #fff;
   
}

.al-breadcrumb > li > a{
    color: #fff;
}

.action > a {
    color:#fff;
}